<!DOCTYPE html>
<html lang="en">
<head>
  <title>'Due U Sell?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 25px;
      border-radius: 0;
    }
    
    .navbar li {
        margin-right: 10px;
    }
    
    .jumbotron {
      margin-bottom: 0;
    }
      
    .container {
        margin: 10px;
    }
    
    input[type=file] {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .itemPicture {
        max-width: 200px;
        max-height: 175px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

  </style>

</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>'Due U Sell?</h1>      
    <p>Your portal for all things being sold at Purdue</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-sm-12 form-group">
    <h3 class="text-center">Add an item</h3>
    <form class="form-inline text-center">
        <input type="text" name="Item Name" placeholder="Item Name">
        <input type="number" name="Cost" placeholder="Item Cost">
        <!--<div class="input-group">
            <label class="input-group-btn">
                <span class="btn btn-default">
                    Choose a Picture <input type="file" style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>
        -->
        <input type="submit" class="btn btn-default">
        <input type="file" accept="image/*">
    </form>
</div>   
    
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">CHEMISTRY TEXTBOOK</div>
        <div class="panel-body"><img src="chemistryBook.JPG" class="img-responsive itemPicture" style="width:100%"></div>
        <div class="panel-footer">$75</div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">LAPTOP</div>
        <div class="panel-body"><img src="laptop.jpg" class="img-responsive itemPicture" style="width:100%"></div>
        <div class="panel-footer">$800</div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">FUTON</div>
        <div class="panel-body"><img src="futon.jpg" class="img-responsive itemPicture" style="width:100%"></div>
        <div class="panel-footer">$100</div>
      </div>
      </div>
  </div>
    
</div><br>

<br><br>


</body>
</html>